doctype html

html
  head
    title Times
    script(type='text/javascript' src="zingchart/client/zingchart.min.js")

    script.
       var chartData={
       "type":"bar",  // Specify your chart type here.
       "series":[  // Insert your series data here.
        { "values": [0,1,2,3] }
        ]
        };
        window.onload=function(){  // Render Method[2]
           zingchart.render({ 
           id:'chartDiv',
           data:chartData,
           height:400,
           width:600
         });
       };
  body
    h1=keith
    script.
       var the_google_pings=JSON.stringify(gpings);
    ul
        each val in time_list
            li=JSON.stringify(new Date(parseInt(val._id.toString().substring(0,8),16)*1000).toUTCString())
        each val in gpings
            li=JSON.stringify(val)

    div(id="chartDiv")
